/* Styles pour l'en-tête */
header {
    margin: 0;
    background-color: #53B7FF; /* Couleur de fond de l'en-tête */
    padding: 1%; /* Espacement intérieur */
    display: flex; /* Utilisez Flexbox pour aligner les éléments horizontalement */
    flex-direction: row;
    justify-content: space-between; /* Espacez les éléments horizontalement */
    align-items: center; /* Alignez verticalement au centre */
    color: white; /* Couleur du texte blanc */
}

/* Styles pour le conteneur du contenu de l'en-tête */
.header-content {
    display: flex; /* Utiliser Flexbox pour centrer les éléments horizontalement */
    align-items: center; /* Aligner verticalement au centre */
}

/* Styles pour le logo */
header img {
    max-width: 100px; /* Définir la largeur maximale du logo */
    height: auto; /* Hauteur automatique proportionnelle */
    margin-right: 10px; /* Espacement entre le logo et le nom du gîte */
}

/* Styles pour le nom du gîte */
header h1 {
    font-size: 40px; /* Taille de police du nom du gîte */
    margin: 0; /* Supprimez les marges par défaut */
}

/* Styles pour le bouton de connexion */
#btn-deco {
    background-color: #0c04a8; /* Couleur du bouton */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    border: none; /* Supprimez la bordure */
    border-radius: 4px; /* Ajoutez des coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    font-weight: bold; /* Police en gras */
    /* Supprimez cette ligne pour permettre la séparation des éléments horizontalement */
}

/* Styles pour le conteneur principal (body) */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Styles pour la barre de navigation de la page d'administration */
nav {
    background-color: #53B7FF;
    padding: 15px 0;
    margin: 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 30px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Styles pour les sections de modification */
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #53B7FF;
    font-size: 24px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #53B7FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0A3D91;
}

/* Styles pour les sections de modification */
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles pour les informations de contact */
section form p {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles pour "adresse :" */
section form p label {
    flex: 1; /* Utilisation de flexbox pour aligner "adresse :" à gauche */
    font-weight: bold;
    margin-right: 10px;
}

/* Styles pour le champ de saisie (input) */
section form p input[type="text"] {
    flex: 3; /* Utilisation de flexbox pour aligner le champ de saisie à droite */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 32px; /* Réduire la taille de la police du placeholder */
}

/* Styles pour le placeholder */
section form p input[type="text"]::placeholder {
    font-size: 30px; /* Réduire davantage la taille de la police du placeholder */
    color: #999; /* Couleur du placeholder */
}


/* Styles pour la zone de description */
section form textarea {
    width: 100%;
    height: 200px; /* Ajustez la hauteur selon vos préférences pour agrandir la zone de description */
    padding: 10px;
    font-size: 18px; /* Ajustez la taille de la police selon vos préférences */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Styles pour le placeholder de la zone de description */
section form textarea::placeholder {
    font-size: 16px; /* Ajustez la taille de la police du placeholder selon vos préférences */
    color: #999; /* Couleur du placeholder */
}

