/* Styles pour l'en-tête */
header {
    margin: 0;
    background-color: #53B7FF;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* Styles pour le conteneur du contenu de l'en-tête */
.header-content {
    display: flex;
    align-items: center;
}

/* Styles pour le logo */
header img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

/* Styles pour le nom du gîte */
header h1 {
    font-size: 40px;
    margin: 0;
}

/* Styles pour le conteneur principal (body) */
body {
    margin: 0;
    padding: 0;
    background-image: url('../image/image4.jpeg');
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Styles pour la barre de navigation de la page d'administration */
nav {
    background-color: #53B7FF;
    padding: 15px 0;
    margin: 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 30px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Styles pour les sections de modification */
section {
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
}

h2 {
    color: #53B7FF;
    font-size: 24px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #0c04a8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0A3D91;
}

/* Styles pour les sections de modification */
section {
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
}

/* Styles pour les informations de contact */
section form p {
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
}

/* Styles pour "adresse :" */
section form p label {
    flex: 1;
    font-weight: bold;
    margin-right: 10px;
}

/* Styles pour le champ de saisie (input) */
section form p input[type="text"] {
    flex: 3;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 32px;
}

/* Styles pour le placeholder */
section form p input[type="text"]::placeholder {
    font-size: 30px;
    color: #999;
}

/* Styles pour la zone de description */
section form textarea {
    width: 80%;
    height: 300px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Styles pour le placeholder de la zone de description */
section form textarea::placeholder {
    font-size: 16px;
    color: #999;
}

/* Styles pour les conteneurs d'image */
.image-container {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

/* Styles pour les boutons de suppression */
.button-container {
    text-align: center;
}

.delete-button {
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
}

/* Changer la couleur du texte en noir */
.preview {
    max-width: 200px;
    height: auto;
    color: black;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
}

#calendrier {
    text-align: center;
    position: relative;
    margin-bottom: 200px;
}

#admin-calendar {
    width: 60%;
    height: 500px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}
