header { 
    margin: 0;
    background-image: url('../image/back1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1%; /* Espacement intérieur */
    display: flex; /* Utilisez Flexbox pour aligner les éléments horizontalement */
    flex-direction: row;
    justify-content: center; /* Centrez horizontalement les éléments dans l'en-tête */
    align-items: center; /* Alignez verticalement au centre */
    color: white; /* Couleur du texte blanc */
}

/* Styles pour le conteneur du contenu de l'en-tête */
.header-content {
    text-align: center; /* Centrez le texte horizontalement */
}

/* Styles pour le logo */
header img {
    max-width: 100px; /* Définir la largeur maximale du logo */
    height: auto; /* Hauteur automatique proportionnelle */
    margin-right: 10px; /* Espacement entre le logo et le nom du gîte */
    flex-shrink: 0; /* Empêche le logo de réduire sa taille */
}

/* Styles pour le nom du gîte */
header h1 {
    font-size: 40px; /* Taille de police du nom du gîte */
    margin: 0; /* Supprimez les marges par défaut */
}





/* Styles pour le conteneur principal (body) */
body {
    margin: 0;
    padding: 0;
    background-image: url('../image/back1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; /* Ajoutez la marge au-dessus du footer */
    padding: 10px; /* Ajoutez un espace intérieur au footer si nécessaire */
}






/* Styles pour la barre de navigation */
nav {
    position: fixed; /* Fixe la navbar en haut de l'écran */
    top: 0; /* Place la navbar au bord supérieur de l'écran */
    background-image: url('../image/back1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px 0; /* Espacement intérieur */
    margin: 0;
    text-align: center; /* Centre le contenu horizontalement */
    width: 100%; /* Occupe toute la largeur de l'écran */
    transition: background-color 0.3s ease; /* Animation de transition de couleur */
    z-index: 1000; /* Valeur supérieure à celle du header */
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

li {
    display: inline; /* Afficher les éléments de la liste en ligne */
    margin-right: 30px; /* Espacement entre les éléments */
    margin-left: 10px;
}

a {
    text-decoration: none; /* Supprimer la décoration des liens */
    color: white; /* Couleur du texte blanc */
    font-weight: bold; /* Police en gras */
}


/* Styles pour la section de description */
#description {
    padding: 20px;
    margin-top: 20px;
    text-align: center; /* Centre le contenu */
    display: flex; /* Utiliser Flexbox pour organiser verticalement */
    flex-direction: column; /* Organiser verticalement */
    margin-bottom: 100px;
}

/* Styles pour les informations de la propriété (rendu vertical et centré) */
.property-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
}

.property-info div {
    margin: 10px;
    text-align: center; /* Centre le texte */
}

.property-name {
    font-size: 24px;
    font-weight: bold;
}

.property-price {
    font-size: 20px;
}

.property-capacity,
.property-amenities,
.property-languages,
.property-rates,
.property-payment {
    margin-top: 20px;
}


#carte {
    text-align: center;
    position: relative;
    margin-bottom: 150px; /* Ajoutez une marge basse équivalente à la hauteur de la carte */
    width: flex;
    height: 400px;
}

#calendrier {
    text-align: center;
    position: relative;
    margin-bottom: 200px; /* Ajoutez une marge basse équivalente à la hauteur de la carte */
    width: flex;
    height: 500px;
}

#calendar {
    width: 60%; /* Définir la largeur du calendrier */
    height: 100%; /* Définir la hauteur du calendrier */
    position: absolute; /* Position absolue par rapport au parent */
    left: 50%; /* Centrer horizontalement au milieu de la page */
    transform: translateX(-50%); /* Ajuster la position horizontale au milieu */
    border: 1px solid #ccc; /* Ajouter une bordure pour la carte (optionnel) */
}

#map {
    width: 80%; /* Définir la largeur de la carte */
    height: 100%; /* Définir la hauteur de la carte */
    position: absolute; /* Position absolue par rapport au parent */
    left: 50%; /* Centrer horizontalement au milieu de la page */
    transform: translateX(-50%); /* Ajuster la position horizontale au milieu */
    border: 1px solid #ccc; /* Ajouter une bordure pour la carte (optionnel) */
}

#carte h2 {
    margin-bottom: 10px; /* Espacement entre le texte et la carte */
}





/* Styles pour la page de connexion */
#connexion {
    
    padding: 20px;
    text-align: center;
    position: relative; /* Ajoutez une position relative pour centrer le bouton */
    overflow: hidden; /* Cache le débordement du bouton centré */
    height: 100%; /* Ajuste la hauteur de la section de connexion à 100% */
    box-sizing: border-box; /* Inclut la marge dans la hauteur totale */
}

.login-container {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

.login-container h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
}

button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    position: relative; /* Ajoutez une position relative pour centrer le bouton */
    left: 50%; /* Déplace le bouton de 50% vers la droite pour le centrer */
    transform: translateX(-50%); /* Centre horizontalement le bouton */
    margin-top: 20px; /* Ajoute une marge au-dessus du bouton pour l'espacer */
}




.form-group {
    margin-bottom: 20px;
    text-align: left;
    margin-right: 20px; /* Ajoutez une marge à droite pour éviter que les cadres ne touchent le bord */
}


#contact {
    padding: 20px;
    text-align: center;
}

.contact-content {
    max-width: 600px;
    margin: 0 auto;
}

.contact-info {
    font-size: 18px;
    margin-top: 20px;
}


#contact a {
    color: #007bff; /* Couleur du lien */
    text-decoration: underline; /* Souligner le lien au survol */
}



#galerie {
    text-align: center;
    padding: 20px;

}

.carousel-container {
    position: relative;
    margin: 0 auto;
    width: flex;
    height: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    width: 80%;
    max-width: 600px;
    height: 100%;
    max-height: 450px;
}

#prevBtn, #nextBtn {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #333;
    border: none;
    cursor: pointer;
}

#prevBtn {
    left: 25%;
}

#nextBtn {
    left: 72%;
}