header {
    margin: 0;
    background-image: url('../image/back1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-content {
    text-align: center;
}

header img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
    flex-shrink: 0;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../image/back1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
}

nav {
    position: fixed;
    top: 0;
    background-image: url('../image/back1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px 0;
    margin: 0;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

li {
    display: inline;
    margin-right: 30px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#description {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.property-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.property-info div {
    margin: 10px;
    text-align: center;
}

.property-name {
    font-size: 24px;
    font-weight: bold;
}

.property-price {
    font-size: 20px;
}

.property-capacity,
.property-amenities,
.property-languages,
.property-rates,
.property-payment {
    margin-top: 20px;
}

#carte {
    text-align: center;
    position: relative;
    margin-bottom: 150px;
    width: flex;
    height: 400px;
}

#calendrier {
    text-align: center;
    position: relative;
    margin-bottom: 200px;
}

#calendar {
    width: 60%;
    height: 500px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

#map {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ccc;
}

#carte h2 {
    margin-bottom: 10px;
}

#connexion {
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
}

.login-container {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

.login-container h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    margin-right: 20px;
}

#contact {
    padding: 20px;
    text-align: center;
}

.contact-content {
    max-width: 600px;
    margin: 0 auto;
}

.contact-info {
    font-size: 18px;
    margin-top: 20px;
}

#contact a {
    color: #007bff;
    text-decoration: underline;
}

#galerie {
    text-align: center;
    padding: 20px;
}

.carousel-container {
    position: relative;
    margin: 0 auto;
    width: flex;
    height: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    width: 80%;
    max-width: 600px;
    height: 100%;
    max-height: 450px;
}

#prevBtn, #nextBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 24px;
    color: #333;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

#prevBtn {
    left: 25%;
    padding-left: 12px;
}

#nextBtn {
    left: 72%;
    padding-left: 18px;
}
